body {
  background: #ddd;
}

header {
  background-color: #000;
  background-image: url('../../imgs/headerbr.jpeg');
  background-size: cover;
  background-position: center right;
  color: #fff;
}

#prof-name {
  font-size: 35px;
  font-family: 'Julius Sans One', sans-serif;
}

.prof-pic {
  border: .2em #000;
  border-radius: 50%;
  background-color: #bbb;
  background-image: url('http://i.imgur.com/i3soSiT.jpg');
  background-size: cover;
  background-position: center, right;
}

.nav-item {
  background-color: #250;
  font-family: 'Quicksand', sans-serif;
}

.nav-item:hover {
  background-color: #000;
}

.nav-item a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#linked {
  background-color: #0077b5;
}

#git {
  background-color: #333;
}

#facebook {
  background-color: #3b5998;
}

#email {
  background-color: #a00;
}

.icon-menu, #nav-logo{
  font-size: 3em;
}

#about, #projects, #work-hist {
  font-family: 'ABeeZee', sans-serif;
}
