#prof-name {
  font-size: 35px;
  font-family: 'Julius Sans One', sans-serif;
  margin: 1.5em 0 0 5.5em;
  width: 5em;
}

#linked {
  background-color: #0077b5;
}

#git {
  background-color: #333;
}

#facebook {
  background-color: #3b5998;
}

#email {
  background-color: #a00;
}

#about, #projects, #work-hist {
  font-family: 'ABeeZee', sans-serif;
}

#head-logo{
  display: none;
  height: 10em;
  float: right;
}

#media-links {
  margin: .5em 0 1em 0;
}
#nav-logo {
  padding: .1em;
  height: .8em;
  display: inline;
  float: right;
}

#prof-info {
  width: 30em;
}

.media-link {
  padding: .2em;
  border-radius: 50%;
  font-size: 20px;
  height: 1.1em;
  width: 1.1em;
  text-align: center;
  display: inline-block;
  margin-left: .5em;

}
.prof-pic {
  margin: 3em 0 3em 1em;
  height: 10em;
  width: 10em;
}
.icon-menu, #nav-logo{
  font-size: 3em;

}
.prof-pic, #prof-info, #prof-name {
  float: left;
  position: absolute;
}
.nav-item {
  padding: 1em 0;
}

.icon-menu {
  display: inline-block;

}

.preview-img {
  width: 10%;
  height: auto;
  background-color: #250;
}
.prof-pic {
  border: .2em #000;
  border-radius: 50%;
  background-color: #bbb;
  background-image: url('http://i.imgur.com/i3soSiT.jpg');
  background-size: cover;
  background-position: center, right;
}

.nav-item {
  background-color: #250;
  font-family: 'Quicksand', sans-serif;
}

.nav-item:hover {
  background-color: #000;
}

.nav-item:focus {
  background-color: #bbb;
  color: #000;
  outline: none;
}

.about-box {
  margin-bottom: 1em;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  padding: 1em;
}

#about h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
}

#educ h4 {
  font-weight: bold;
  font-size: 18px;
}

.school {
  margin-top: 1em;
}

.school-info {
  padding-left: 2em;
  padding-top: 3px;
}

@media only screen and (min-width: 700px) {

  #prof-info {
    margin: 7.2em 0 0 14em;
    width: 20em;
  }

  .prof-pic {
    margin-left: 3em;
  }

  #prof-name {
    margin: 0;
    width: 10em;
  }

  #head-logo{
    display: inline;
    position: absolute;
    margin: 3em 3em 1em 77%;
  }

  .icon-menu, #nav-logo{
    display: none;
  }

  .nav-item {
    height: 3em;
    width: 33.3333%;
    text-align: center;
    display: inline-block;
    padding: 1.5em 0 0 0;
  }

}
