body {
  background: #ddd;
  padding: -25px, -10px;
}

header {
  height: 250px;
  background-color: #000;
  color: #fff;
  width: 100%;
  margin: 0;

}

#head-logo{
  height: 10em;
  float: right;
}

.prof-pic {
  margin: 3em 0 3em 3em;
}

.prof-pic, #prof-info, #prof-name {
  float: left;
  position: absolute;
}
.prof-pic, #head-logo {
  height: 10em;
  width: 10em;
}


#media-links {
  margin-bottom: 1em;
}

.media-link {
  padding: .2em;
  border-radius: 50%;
  font-size: 20px;
  height: 1.1em;
  width: 1.1em;
  text-align: center;
  display: inline-block;
  margin-left: .5em;
  /*float: left;*/
}

.media-link a{
  text-decoration: none;
  color: #fff;
  padding: 0.02em;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

nav {
  height: auto;
  background-color: #250;
  color: #fff;
  width: 100%;
  margin-top: 0;
}

.icon-menu{
  font-size: 3em;
}

nav ul{
    display: none;
    padding: 0;
    list-style: none;
    clear: none;
}

nav:hover ul {
  display: block;
}

.nav-item {
  padding: 1em;
}

.preview-img {
  width: 10%;
  height: auto;
  background-color: #250;
}

@media only screen and (min-width: 840px) {


  #prof-info {
    margin: 7.2em 0 0 14em;
    width: 15em;
  }
  .prof-pic, #head-logo{

  }

  .icon-menu{
    display: none;
  }

  nav {
    height: 70px;
  }


  nav ul {
    display: block;
  }

  .nav-item {
    height: 3.1em;
    background-color: rgba(0,0,0,0);
    width: 33%;
    text-align: center;
    display: inline-block;
    padding: 1.5em 0;
  }

}
